@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  unicode-range: U+20-7E;
  src: url('Inter-300-normal-subset.woff2') format('woff2'), url('Inter-300-normal-subset.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+20-7E;
  src: url('Inter-400-normal-subset.woff2') format('woff2'), url('Inter-400-normal-subset.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+20-7E;
  src: url('Inter-400-italic-subset.woff2') format('woff2'), url('Inter-400-italic-subset.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  unicode-range: U+20-7E;
  src: url('Inter-700-normal-subset.woff2') format('woff2'), url('Inter-700-normal-subset.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  unicode-range: U+20-7E;
  src: url('Inter-700-italic-subset.woff2') format('woff2'), url('Inter-700-italic-subset.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  unicode-range: U+20-7E;
  src: url('Inter-900-normal-subset.woff2') format('woff2'), url('Inter-900-normal-subset.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  unicode-range: U+20-7E;
  src: url('Inter-900-italic-subset.woff2') format('woff2'), url('Inter-900-italic-subset.woff') format('woff');
}

@font-face {
  font-family: 'Inter Var';
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+20-7E;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('Inter-variable-upright-subset.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter Var';
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+20-7E;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('Inter-variable-italic-subset.woff2') format('woff2');
}
