@font-face {
  font-family: "Roboto Mono";
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  unicode-range: U+20-7E;
  src: url("RobotoMono-Thin-subset.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  unicode-range: U+20-7E;
  src: url("RobotoMono-Light-subset.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+20-7E;
  src: url("RobotoMono-Regular-subset.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  unicode-range: U+20-7E;
  src: url("RobotoMono-Medium-subset.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  unicode-range: U+20-7E;
  src: url("RobotoMono-Bold-subset.ttf") format("truetype");
}
